@import "utils/variables";
@import "utils/resets";

body {
  font-family: $font-family;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  height: 100vh;
}

header {
  background-color: $primary-color;
  background-attachment: $outline-color;
  background-size: cover;
  width: 100%;

  .navbar {
    display: flex;
    align-items: center;
    padding: $standard-padding;

    a:focus, button:focus, button:hover {
      outline: 3px solid $outline-color;
    }
  }

  .navbar__controls {

    display: flex;
    gap: $gap-standard;
    width: 100%;

    @media (max-width: $small-screen) {
      flex-direction: column;
    }

    .controls__navigation-element {
      padding: $small-padding $standard-padding;

      @media (max-width: $small-screen) {
        padding: $small-padding;
      }
    }

    .button {
      background-color: $primary-color;
      color: $button-text-color;
      padding: $small-padding $standard-padding;
      border: 2px;
      border-color: white;
      border-radius: 20px;
      cursor: pointer;

      &:hover, &:focus {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

main {

  flex-grow: 1;
  background-image: url("https://images6.alphacoders.com/661/661968.png");
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap-standard;
    margin-top: 10px;

    @media (max-width: $extra-small-screen) {
      gap: $gap-medium;
    }

    @media (max-width: $medium-screen) {
      gap: $gap-small;
    }

    @media (max-width: $small-screen) {
      flex-direction: column;
      align-items: center;
    }

    li {
      background-color: $primary-color;
      padding: $standard-padding;
      box-shadow: $small-shadow;
      width: $image-card-width;
      height: $image-card-height;
      border-radius: 20px;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;

      &:hover, &:focus {
        box-shadow: $hover-shadow;
      }

      &:focus-within {
        box-shadow: $focus-box-shadow;
      }
    }

    h2, h3 {
      width: 90%;
      text-align: center;
      color: $button-text-color;
    }

    h2 {
      height: 7%;
      font-size: $font-size*1.1;
    }

    h3 {
      height: 4%;
      font-size: $font-size*0.8;
    }

    img {
      max-width: $image-width;
      height: $image-height;

      &:focus {
        outline: 3px solid $outline-color;
      }
    }
  }
}
