// Font
$font-family: 'Roboto', Arial, sans-serif;
$font-size: 1.1rem;

// Colors
$primary-color: #007bff;
$button-text-color: #fff;
$outline-color: #93e663;
$card-background: #79efb4 ;

// Padding and Spacing
$standard-padding: 1rem;
$small-padding: 0.5rem;
$gap-standard: 1rem;
$gap-medium: 0.8rem;
$gap-small: 0.6rem;

// Breakpoints
$extra-small-screen: 320px;
$medium-screen: 992px;
$small-screen: 768px;
$large-screen: 1024px;

// Box Shadows
$small-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$hover-shadow: 0 8px 16px rgba(255, 255, 255, 0.8);
$focus-box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);

// Image Dimensions
$image-width: 184px;
$image-height: 184px;

// Image Card Dimensions
$image-card-width: 240px;
$image-card-height: 240px;
$image-card-height-pokemon-info: 650px;
